{% extends "layout.html" %}

{% macro input(field, placeholder) %}
    {{ field.label }}
            {% if ( field.errors|length == 0) %}
              {{ field(class_="form-control form-control-user",placeholder=placeholder) }}
            {% else %}
              {{ field(class_="form-control form-control-user is-invalid",placeholder=placeholder) }}
              {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            {% endif %}
{% endmacro %}

{% block title %}Login{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="container" style="overflow: auto;padding-bottom: 200px;">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10" style="width: 933px;height: 660px;">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row d-sm-flex d-lg-flex d-xl-flex justify-content-sm-center justify-content-lg-center justify-content-xl-center">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Bienvenido!</h4>
                                    </div>
                                    <form action="{{ url_for('auth_authenticate') }}" method="post"  class="needs-validation user">
                                        {{ form.hidden_tag() }}
                                        <div class="form-group">{{input(form.email,"Ingrese su email")}}</div>
                                        <div class="form-group">{{input(form.password,"Ingrese su contraseña")}}</div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">                             
                                                  {{ form.remember_me() }} {{ form.remember_me.label }}
                                            </div>
                                        </div><button class="btn btn-primary btn-block text-white btn-user" type="submit" style="background-color: #3a6ba6;">Ingresar</button></form>
                                    <div class="text-center"></div>
                                    <div class="text-center"></div>
                                    {% if authError == True %}
                                      <div class="alert alert-danger" role="alert" style="margin-top: 25px;">
                                        Usuario o clave incorrecto.
                                      </div> 
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
