
{% extends "authorized_layout.html" %}

{% macro input(field, class_="form-control", style=False) %}
    {{ field.label }}
    {% if ( field.errors|length == 0) %}
        {{ field(class_=class_, style=style) }}
    {% else %}
        {{ field(class_=class_ + " is-invalid", style=style) }}
        {% for error in field.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro input_label(field, input_class=False, input_style=False, label_class=False, label_style=False) %}
    {% if ( field.errors|length == 0) %}
        {{ field(class_=input_class, style=style) }}
    {% else %}
        {{ field(class_=input_class + " is-invalid", style=style) }}
        {% for error in field.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    {% endif %}
    {{ field.label(class_=label_class) }}
{% endmacro %}

{% macro checkbox_input(field) %}
    {{ input_label(field, input_class="form-check-input", label_class="form-check-label") }}
{% endmacro %}

{% macro file_input(field) %}
    {{ input_label(field, input_class="custom-file-input", label_class="custom-file-label") }}
{% endmacro %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
{% endblock %}

{% block sub_content %}

    <h4 class="mt-3">{% block form_title %}{% endblock %}</h4>
    <div class="shadow-sm mt-3 p-3">
        <form action="{% block form_action %}{% endblock %}" method="POST" enctype="multipart/form-data">
            {% block form_data %}
            {{ form.csrf_token }}
            {{ form.latitude }}
            {{ form.longitude }}
            
            <div class="form-group">{{ input(form.name) }}</div>
            <div class="form-row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">{{ input(form.address) }}</div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">{{ input(form.phone_number) }}</div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">{{ input(form.opening_time) }}</div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">{{ input(form.closing_time) }}</div>
                </div>
            </div>
            <div class="form-group">{{ input(form.center_type) }}</div>
            <div class="form-group">{{ input(form.town) }}</div>
            <div class="form-group">{{ input(form.web_url) }}</div>
            <div class="form-group">{{ input(form.email) }}</div>
            <div class="custom-file mb-2">
                {{ file_input(form.view_protocol) }}
            </div>
            <div class="form-row">
                <div id="mapid" style="height: 600px; width: 600px;"></div>
            </div>
            <div class="form-check">{{ checkbox_input(form.published) }}</div>
            {% endblock %}
            <div class="mt-3 d-flex justify-content-center justify-content-sm-end">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/coord_map.js') }}"></script>
{% endblock %}